<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE">
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE" level="INFO"/>
        </Root>
        <Logger name="org.apache.stormcrawler.bolt.FetcherBolt" level="DEBUG">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
    </Loggers>
</Configuration>